.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}

.my_title{
	font-size:large;
	font-weight: bold;
	color: #ccc;
	padding: 10px 0px;
}
.my_content{
	color: #ccc;
	line-height: 5px;
	letter-spacing: 1px;
}

/*FROM style4.css*/
.tt-wrapper{
	padding: 0;
	width: 100%;
	height: 100%;
	/*margin: 0px auto 10px auto;*/
	/*margin-left: 36%;*/
}
.tt-wrapper li{
	float: left;
	padding: 0px 45px;
}
.tt-wrapper li a{
	display: block;
	width: 81px;
	height: 93px;
	margin: 0 2px;
	outline: none;
	text-indent: -9000px;
	position: relative;
}
.tt-wrapper li .tt-github{
    background-position: 0px 0px;
    background: transparent url(../images/github.png) no-repeat top left;
}
.tt-wrapper li .tt-twitter{
    background-position: -68px 0px;
    background: transparent url(../images/twitter.png) no-repeat top left;
}
.tt-wrapper li .tt-facebook{
    background-position: -204px 0px;
    background: transparent url(../images/facebook.png) no-repeat top left;
}
.tt-wrapper li .tt-linkedin{
    background-position: -272px 0px;
    background: transparent url(../images/linkedin.png) no-repeat top left;
}
.tt-wrapper li a span{
	width: 110px;
	height: 50px;
	line-height: 20px;
	padding: 10px;
	left: 45%;
	top:-64%;
	margin-left: -50px;
	font-family: 'Alegreya SC', Georgia, serif;
	font-weight: 400;	
	/*font-style: italic;*/
	font-size: 11px;
	color: #719DAB;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #fff;
	background: rgba(255,255,255,0.3);
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	bottom: 70px;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transform: translate(35px) rotate(25deg) scale(1.5);
	-moz-transform: translate(35px) rotate(25deg) scale(1.5);
	-o-transform: translate(35px) rotate(25deg) scale(1.5);
	-ms-transform: translate(35px) rotate(25deg) scale(1.5);
	transform: translate(35px) rotate(25deg) scale(1.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tt-wrapper li a span:before,
.tt-wrapper li a span:after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.1);
}
.tt-wrapper li a span:after{
	bottom: -14px;
	margin-left: -10px;
	border-top: 10px solid #fff;
}
.tt-wrapper li a:hover span{
	background: #333;
	color:#fff;
	visibility: visible;
	opacity: 0.9;
	-webkit-transform: translate(0px) rotate(0deg) scale(1);
	-moz-transform: translate(0px) rotate(0deg) scale(1);
	-o-transform: translate(0px) rotate(0deg) scale(1);
	-ms-transform: translate(0px) rotate(0deg) scale(1);
	transform: translate(0px) rotate(0deg) scale(1);
}

.nav-link-color{
	background: lightseagreen;
}

.changingtxt{
	top:-2px;
}